@import "src/styles/utils";

.editor-template {
  .panes {
    height: calc(100vh - 4rem);
    display: flex;
    position: relative; // separator 위치를 지정하려고 relative로 설정
    .pane {
      display: flex;
      min-width: 0; //내부의 내용이 커도 반대편 영역을 침범하지 않게
      overflow: auto; // 너무 많아지면 스크롤바
    }
    .separator {
      width: 1rem;
      height: 100%;
      position: absolute;
      transform: translate(-50%); // 자신의 50% 만큼 왼쪽이동
      cursor: col-resize;
    }
  }
}
